<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="/main.css" rel="stylesheet" />
</head>

<body class="grey-bg">
  <%- include('nav.ejs')%>
    <div class="white-bg">
      <div class="detail-bg">
        <h4>
          <%= detail.title %>
        </h4>
        <p>
          <%= detail.content %>
        </p>
        <img src="<%= detail.img %>" />
      </div>
    </div>

    <form class="form-box" action="/comment" method="POST">
      댓글 입력창
      <input style="display:none" name="postId" value="<%= detail._id%>" />
      <input name="comment" />
      <button>입력</button>
    </form>

    <div class="comments">
      <% for(let i=0; i<comment.length; i++) { %>
        <div class="comment">
          <%= comment[i].username%>:
            <%= comment[i].content%>
        </div>
        <%}%>
    </div>
</body>

</html>
